{{ 'megamenu-header.css' | asset_url | stylesheet_tag }}
<!-- old menu mobile -->
<!-- css for hidden or not-temporany -->

<style>
  .list-hidden{
    /* display:none !important; */
  }
  .list-hidden-inner-cookware{
    display:none !important;
  }
  .list-hidden-inner-about-us{
    display:none !important;
  }
</style>

<div class="megamenu-mobile mobile_navabar">
  <div class="megamenu-mobile-inner">
    <div class="megamenu-mobile-header-list">
      <ul>
        <li class="list-hidden header-list-main nav-toggle-menu">Bakeware {% render 'chevron-right' %}</li>
        <li class="list-hidden header-list-main nav-toggle-menu">Cookware {% render 'chevron-right' %}</li>

        <div class="megamenu-drawer-inner list-hidden-inner-cookware">
          <div class="open-btn-list-text">
            <span>{% render 'chevron-right' %} Cookware</span>
          </div>
          <div class="megamenu-product-width-header-text">
            <span class="header-header-text"> Bakeware Bestsellers </span>
            <div class="megamenu-product-category">
              <div class="megamenu-product-category-inner">
                <div class="product-main-page">
                  <div class="product-main-image">
                    <div class="image">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0622/1937/files/kit-1.png?v=1723366474"
                        height="auto"
                        width="auto"
                      >
                      <!--
                        <img
                          src="https://cdn.shopify.com/s/files/1/0622/1937/files/product1.png?v=1722480080"
                          height="auto"
                          width="auto"
                          class="mobile-img"
                        >
                      -->
                    </div>
                  </div>
                  <div class="product-wrap">
                    <div class="product-wrap-header-price">
                      <div class="product-wrap-header-text"><p>3-in-1 Roasting Pan</p></div>
                      <div class="product-price">
                        <span class="price-txt">$210.00</span> <span class="dull-price-txt">$210.00</span>
                      </div>
                    </div>
                    <div class="review-start-product">
                      <span class="review-text">4.9</span>
                      <span class="review-start-icon">
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 0L7.76336 3.57295L11.7063 4.1459L8.85317 6.92705L9.52671 10.8541L6 9L2.47329 10.8541L3.14683 6.92705L0.293661 4.1459L4.23664 3.57295L6 0Z" fill="#606D22"></path>
                        </svg>
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 0L7.76336 3.57295L11.7063 4.1459L8.85317 6.92705L9.52671 10.8541L6 9L2.47329 10.8541L3.14683 6.92705L0.293661 4.1459L4.23664 3.57295L6 0Z" fill="#606D22"></path>
                        </svg>
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 0L7.76336 3.57295L11.7063 4.1459L8.85317 6.92705L9.52671 10.8541L6 9L2.47329 10.8541L3.14683 6.92705L0.293661 4.1459L4.23664 3.57295L6 0Z" fill="#606D22"></path>
                        </svg>
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 0L7.76336 3.57295L11.7063 4.1459L8.85317 6.92705L9.52671 10.8541L6 9L2.47329 10.8541L3.14683 6.92705L0.293661 4.1459L4.23664 3.57295L6 0Z" fill="#606D22"></path>
                        </svg>
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 0L7.76336 3.57295L11.7063 4.1459L8.85317 6.92705L9.52671 10.8541L6 9L2.47329 10.8541L3.14683 6.92705L0.293661 4.1459L4.23664 3.57295L6 0Z" fill="#606D22"></path>
                        </svg>
                      </span>
                      <span class="review-count-number">(27)</span>
                    </div>
                  </div>
                </div>
                <div class="product-main-page">
                  <div class="product-main-image">
                    <div class="image">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0622/1937/files/kit-2.png?v=1723366814"
                        height="auto"
                        width="auto"
                      >
                      <!--
                        <img
                          src="https://cdn.shopify.com/s/files/1/0622/1937/files/product1.png?v=1722480080"
                          height="auto"
                          width="auto"
                          class="mobile-img"
                        >
                      -->
                    </div>
                  </div>
                  <div class="product-wrap">
                    <div class="product-wrap-header-price">
                      <div class="product-wrap-header-text"><p>3-in-1 Roasting Pan</p></div>
                      <div class="product-price">
                        <span class="price-txt">$210.00</span> <span class="dull-price-txt">$210.00</span>
                      </div>
                    </div>
                    <div class="review-start-product">
                      <span class="review-text">4.9</span>
                      <span class="review-start-icon">
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 0L7.76336 3.57295L11.7063 4.1459L8.85317 6.92705L9.52671 10.8541L6 9L2.47329 10.8541L3.14683 6.92705L0.293661 4.1459L4.23664 3.57295L6 0Z" fill="#606D22"></path>
                        </svg>
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 0L7.76336 3.57295L11.7063 4.1459L8.85317 6.92705L9.52671 10.8541L6 9L2.47329 10.8541L3.14683 6.92705L0.293661 4.1459L4.23664 3.57295L6 0Z" fill="#606D22"></path>
                        </svg>
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 0L7.76336 3.57295L11.7063 4.1459L8.85317 6.92705L9.52671 10.8541L6 9L2.47329 10.8541L3.14683 6.92705L0.293661 4.1459L4.23664 3.57295L6 0Z" fill="#606D22"></path>
                        </svg>
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 0L7.76336 3.57295L11.7063 4.1459L8.85317 6.92705L9.52671 10.8541L6 9L2.47329 10.8541L3.14683 6.92705L0.293661 4.1459L4.23664 3.57295L6 0Z" fill="#606D22"></path>
                        </svg>
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 0L7.76336 3.57295L11.7063 4.1459L8.85317 6.92705L9.52671 10.8541L6 9L2.47329 10.8541L3.14683 6.92705L0.293661 4.1459L4.23664 3.57295L6 0Z" fill="#606D22"></path>
                        </svg>
                      </span>
                      <span class="review-count-number">(27)</span>
                    </div>
                  </div>
                </div>
                <div class="product-main-page">
                  <div class="product-main-image">
                    <div class="image">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0622/1937/files/kit-3.png?v=1723366814"
                        height="auto"
                        width="auto"
                      >
                      <!--
                        <img
                          src="https://cdn.shopify.com/s/files/1/0622/1937/files/product1.png?v=1722480080"
                          height="auto"
                          width="auto"
                          class="mobile-img"
                        >
                      -->
                    </div>
                  </div>
                  <div class="product-wrap">
                    <div class="product-wrap-header-price">
                      <div class="product-wrap-header-text"><p>3-in-1 Roasting Pan</p></div>
                      <div class="product-price">
                        <span class="price-txt">$210.00</span> <span class="dull-price-txt">$210.00</span>
                      </div>
                    </div>
                    <div class="review-start-product">
                      <span class="review-text">4.9</span>
                      <span class="review-start-icon">
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 0L7.76336 3.57295L11.7063 4.1459L8.85317 6.92705L9.52671 10.8541L6 9L2.47329 10.8541L3.14683 6.92705L0.293661 4.1459L4.23664 3.57295L6 0Z" fill="#606D22"></path>
                        </svg>
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 0L7.76336 3.57295L11.7063 4.1459L8.85317 6.92705L9.52671 10.8541L6 9L2.47329 10.8541L3.14683 6.92705L0.293661 4.1459L4.23664 3.57295L6 0Z" fill="#606D22"></path>
                        </svg>
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 0L7.76336 3.57295L11.7063 4.1459L8.85317 6.92705L9.52671 10.8541L6 9L2.47329 10.8541L3.14683 6.92705L0.293661 4.1459L4.23664 3.57295L6 0Z" fill="#606D22"></path>
                        </svg>
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 0L7.76336 3.57295L11.7063 4.1459L8.85317 6.92705L9.52671 10.8541L6 9L2.47329 10.8541L3.14683 6.92705L0.293661 4.1459L4.23664 3.57295L6 0Z" fill="#606D22"></path>
                        </svg>
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 0L7.76336 3.57295L11.7063 4.1459L8.85317 6.92705L9.52671 10.8541L6 9L2.47329 10.8541L3.14683 6.92705L0.293661 4.1459L4.23664 3.57295L6 0Z" fill="#606D22"></path>
                        </svg>
                      </span>
                      <span class="review-count-number">(27)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-main-list-megamenu">
              <div class="header-list-megamenu-inner">
                <div class="header-header-text-list">
                  <ul>
                    <li><a href="#">Cookie Sheets</a></li>
                    <li><a href="#">Jelly Roll Pans</a></li>
                    <li><a href="#">Bake &amp; Roast Pans</a></li>
                    <li><a href="#">Cake Pans</a></li>
                    <li><a href="#">Pie Pan</a></li>
                    <li><a href="#">Oven To Table Pan</a></li>
                    <li><a href="#">Loaf Pans</a></li>
                    <li><a href="#">Cookie Cutters</a></li>
                  </ul>
                </div>
              </div>
              <div class="header-shop-right">
                <span>
                  <a href="#"
                    >Shop All Bakeware
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11.7535 11.5L15 7.99821M15 7.99821L11.7569 4.5M15 7.99821H1" stroke="#0D0D0D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>

        <li class="list-hidden header-list-main">Tools & Accessories {% render 'chevron-right' %}</li>
        <li class="list-hidden header-list-main">Sets & Bundles {% render 'chevron-right' %}</li>
        <li class="list-hidden header-list-main">About Us {% render 'chevron-right' %}</li>

        <div class="megamenu-drawer-inner list-hidden-inner-about-us">
          <div class="open-btn-list-text">
            <span>{% render 'chevron-right' %} About Us</span>
          </div>
          <div class="megamenu-about-content">
            <div>
              <div class="product-360-category-main">
                <div class="product-360-category-inner">
                  <div class="product-360-image">
                    <div class="image">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0622/1937/files/header-product1.png?v=1722486150"
                        height="auto"
                        width="auto"
                        class="desktop-img"
                      >
                      <img
                        src="https://cdn.shopify.com/s/files/1/0622/1937/files/navigation-mobile-1.png?v=1722578697"
                        height="auto"
                        width="auto"
                        class="mobile-img"
                      >
                    </div>
                  </div>
                  <div class="product-360-text-area">
                    <div class="product-360-header-main">
                      <div class="common-h5 product-360-header">
                        <h5>360 Story</h5>
                      </div>
                      <div class="product-360-para">
                        <p>
                          Qorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit
                          interdum, ac aliquet odio mattis.
                        </p>
                      </div>
                    </div>
                    <div class="product-360-link">
                      <a href="#">Shop Now {% render 'icon-menu-arrow-right' %}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="product-360-category-main">
                <div class="product-360-category-inner">
                  <div class="product-360-image">
                    <div class="image">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0622/1937/files/Image_3.png?v=1722827795"
                        height="auto"
                        width="auto"
                        class="desktop-img"
                      >
                      <img
                        src="https://cdn.shopify.com/s/files/1/0622/1937/files/navigation-mobile-2.png?v=1722578697"
                        height="auto"
                        width="auto"
                        class="mobile-img"
                      >
                    </div>
                  </div>
                  <div class="product-360-text-area">
                    <div class="product-360-header-main">
                      <div class="common-h5 product-360-header">
                        <h5>Blog</h5>
                      </div>
                      <div class="product-360-para">
                        <p>Articles for cookery enthusiasts updated every week</p>
                      </div>
                    </div>
                    <div class="product-360-link">
                      <a href="#">Shop Now {% render 'icon-menu-arrow-right' %}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="product-360-category-main">
                <div class="product-360-category-inner">
                  <div class="product-360-image">
                    <div class="image">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0622/1937/files/Image_4_e6a4d822-f7d0-4059-aa2b-feca6e31f029.png?v=1722827795"
                        height="auto"
                        width="auto"
                        class="desktop-img"
                      >
                      <img
                        src="https://cdn.shopify.com/s/files/1/0622/1937/files/header-mobile-main-3.png?v=1723383748"
                        height="auto"
                        width="auto"
                        class="mobile-img"
                      >
                    </div>
                  </div>
                  <div class="product-360-text-area">
                    <div class="product-360-header-main">
                      <div class="common-h5 product-360-header">
                        <h5>Recepies</h5>
                      </div>
                      <div class="product-360-para">
                        <p>Get inspired and cook with you new 360 Cookware tools</p>
                      </div>
                    </div>
                    <div class="product-360-link">
                      <a href="#">Shop Now {% render 'icon-menu-arrow-right' %}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="product-360-category-main">
                <div class="product-360-category-inner">
                  <div class="product-360-image">
                    <div class="image">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0622/1937/files/Image_5.png?v=1722827794"
                        height="auto"
                        width="auto"
                        class="desktop-img"
                      >
                      <img
                        src="https://cdn.shopify.com/s/files/1/0622/1937/files/header-mobile-main-4.png?v=1723383748"
                        height="auto"
                        width="auto"
                        class="mobile-img"
                      >
                    </div>
                  </div>
                  <div class="product-360-text-area">
                    <div class="product-360-header-main">
                      <div class="common-h5 product-360-header">
                        <h5>Care Guides</h5>
                      </div>
                      <div class="product-360-para">
                        <p>Tips & Tricks on how to make your kitchenware last forever</p>
                      </div>
                    </div>
                    <div class="product-360-link">
                      <a href="#">Shop Now {% render 'icon-menu-arrow-right' %}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="product-360-category-main">
                <div class="product-360-category-inner">
                  <div class="product-360-image">
                    <div class="image">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0622/1937/files/Image_6.png?v=1722827794"
                        height="auto"
                        width="auto"
                        class="desktop-img"
                      >
                      <img
                        src="https://cdn.shopify.com/s/files/1/0622/1937/files/header-mobile-main-5.png?v=1723383748"
                        height="auto"
                        width="auto"
                        class="mobile-img"
                      >
                    </div>
                  </div>
                  <div class="product-360-text-area">
                    <div class="product-360-header-main">
                      <div class="common-h5 product-360-header">
                        <h5>360 Difference</h5>
                      </div>
                      <div class="product-360-para">
                        <p>Qorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </div>
                    <div class="product-360-link">
                      <a href="#">Shop Now {% render 'icon-menu-arrow-right' %}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="product-360-category-main">
                <div class="product-360-category-inner">
                  <div class="product-360-image">
                    <div class="image">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0622/1937/files/Image_13.png?v=1722827794"
                        height="auto"
                        width="auto"
                        class="desktop-img"
                      >
                      <img
                        src="https://cdn.shopify.com/s/files/1/0622/1937/files/header-mobile-main-6.png?v=1723383748"
                        height="auto"
                        width="auto"
                        class="mobile-img"
                      >
                    </div>
                  </div>
                  <div class="product-360-text-area">
                    <div class="product-360-header-main">
                      <div class="common-h5 product-360-header">
                        <h5>360 TV</h5>
                      </div>
                      <div class="product-360-para">
                        <p>Recepies, How-to’s and Usefull Guides from 360 Experts</p>
                      </div>
                    </div>
                    <div class="product-360-link">
                      <a href="#">Shop Now {% render 'icon-menu-arrow-right' %}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>

    <div class="megamenu-mobile-slider">
      <div class="megamenu-image-with-text-inner">
        <div class="image-width-text-header">
          <div class="product-360-category-main">
            <div class="product-360-category-inner">
              <div class="product-360-image">
                <div class="image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0622/1937/files/product-360-1-mobile.png?v=1722496121"
                    height="auto"
                    width="auto"
                  >
                  <!--
                    <img
                      src="https://cdn.shopify.com/s/files/1/0622/1937/files/product-360-1-mobile.png?v=1722496121"
                      height="auto"
                      width="auto"
                      class="mobile-img"
                    >
                  -->
                </div>
              </div>
              <div class="product-360-text-area">
                <div class="product-360-header-main">
                  <div class="common-h5 product-360-header">
                    <h5>Summer Sale Up to 25%</h5>
                  </div>
                  <div class="product-360-para">
                    <p>
                      Qorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum,
                      ac aliquet odio mattis.
                    </p>
                  </div>
                </div>
                <div class="product-360-link">
                  <a href="#">Shop Now {% render 'icon-menu-arrow-right' %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="image-width-text-header">
          <div class="product-360-category-main">
            <div class="product-360-category-inner">
              <div class="product-360-image">
                <div class="image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0622/1937/files/product-360-1-mobile.png?v=1722496121"
                    height="auto"
                    width="auto"
                  >
                  <!--
                    <img
                      src="https://cdn.shopify.com/s/files/1/0622/1937/files/product-360-1-mobile.png?v=1722496121"
                      height="auto"
                      width="auto"
                      class="mobile-img"
                    >
                  -->
                </div>
              </div>
              <div class="product-360-text-area">
                <div class="product-360-header-main">
                  <div class="common-h5 product-360-header">
                    <h5>Summer Sale Up to 25%</h5>
                  </div>
                  <div class="product-360-para">
                    <p>
                      Qorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum,
                      ac aliquet odio mattis.
                    </p>
                  </div>
                </div>
                <div class="product-360-link">
                  <a href="#">Shop Now {% render 'icon-menu-arrow-right' %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="image-width-text-header">
          <div class="product-360-category-main">
            <div class="product-360-category-inner">
              <div class="product-360-image">
                <div class="image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0622/1937/files/product-360-1-mobile.png?v=1722496121"
                    height="auto"
                    width="auto"
                  >
                  <!--
                    <img
                      src="https://cdn.shopify.com/s/files/1/0622/1937/files/product-360-1-mobile.png?v=1722496121"
                      height="auto"
                      width="auto"
                      class="mobile-img"
                    >
                  -->
                </div>
              </div>
              <div class="product-360-text-area">
                <div class="product-360-header-main">
                  <div class="common-h5 product-360-header">
                    <h5>Summer Sale Up to 25%</h5>
                  </div>
                  <div class="product-360-para">
                    <p>
                      Qorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum,
                      ac aliquet odio mattis.
                    </p>
                  </div>
                </div>
                <div class="product-360-link">
                  <a href="#">Shop Now {% render 'icon-menu-arrow-right' %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="megamenu-mobile-btn">
      <div class="toggle-close language_selecter">
        {%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
          <div class="menu-drawer__localization header__localization">
            {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
              <noscript>
                {%- form 'localization', id: 'HeaderCountryMobileFormNoScriptDrawer', class: 'localization-form' -%}
                  <div class="localization-form__select">
                    <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScriptDrawer">
                      {{ 'localization.country_label' | t }}
                    </h2>
                    <select
                      class="localization-selector link"
                      name="country_code"
                      aria-labelledby="HeaderCountryMobileLabelNoScriptDrawer"
                    >
                      {%- for country in localization.available_countries -%}
                        <option
                          value="{{ country.iso_code }}"
                          {%- if country.iso_code == localization.country.iso_code %}
                            selected
                          {% endif %}
                        >
                          {{ country.name }} ({{ country.currency.iso_code }}
                          {{ country.currency.symbol }})
                        </option>
                      {%- endfor -%}
                    </select>
                    {% render 'icon-caret' %}
                  </div>
                  <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
                {%- endform -%}
              </noscript>

              <localization-form class="no-js-hidden">
                {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                  <div>
                    <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                      {{ 'localization.country_label' | t }}
                    </h2>
                    {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                  </div>
                {%- endform -%}
              </localization-form>
            {% endif %}

            {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
              <noscript>
                {%- form 'localization', id: 'HeaderLanguageMobileFormNoScriptDrawer', class: 'localization-form' -%}
                  <div class="localization-form__select">
                    <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScriptDrawer">
                      {{ 'localization.language_label' | t }}
                    </h2>
                    <select
                      class="localization-selector link"
                      name="locale_code"
                      aria-labelledby="HeaderLanguageMobileLabelNoScriptDrawer"
                    >
                      {%- for language in localization.available_languages -%}
                        <option
                          value="{{ language.iso_code }}"
                          lang="{{ language.iso_code }}"
                          {%- if language.iso_code == localization.language.iso_code %}
                            selected
                          {% endif %}
                        >
                          {{ language.endonym_name | capitalize }}
                        </option>
                      {%- endfor -%}
                    </select>
                    {% render 'icon-caret' %}
                  </div>
                  <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
                {%- endform -%}
              </noscript>

              <localization-form class="no-js-hidden">
                {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                  <div>
                    <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                      {{ 'localization.language_label' | t }}
                    </h2>
                    {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                  </div>
                {%- endform -%}
              </localization-form>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

<script>
  /*document.addEventListener('click', event => {
      if(event.target.closest('.nav-toggle-menu') != null){
          event.target.closest('.nav-toggle-menu').classList.toggle("active");
      }
  });*/

  document.addEventListener("DOMContentLoaded", (event) => {
    document.querySelectorAll('.mobile_navabar .nav-toggle-menu').forEach((mobile_li) => {
        if(mobile_li.querySelector('.toggle-open')){
            mobile_li.querySelector('.toggle-close').addEventListener('click',function(){
                mobile_li.classList.add('active');
            });
            mobile_li.querySelector('.toggle-open .toggle-open-align').addEventListener('click',function(){
                mobile_li.classList.remove('active');
            });
        }
    })
  });
</script>
