<link rel="stylesheet" href="{{ 'chef-creations.css' | asset_url }}" media="print" onload="this.media='all'" />
<link rel="stylesheet" href="{{ 'cookware-ugc-section.css' | asset_url }}" media="print" onload="this.media='all'" />
<noscript>{{ 'chef-creations.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'cookware-ugc-section.css' | asset_url | stylesheet_tag }}</noscript>
<style>
.chef-section .banner-group-wrapper {
  display: block;
}
.chef-section .video_group[loaded=true] .cover-image, .video_group iframe, .video_group video {
  display: block;
  opacity: 1;
}
@media screen and (max-width: 989px) {
  .chef-section .title_video_wrapper {
      padding: 60px 0px;
  }
}
@media screen and (max-width: 767px) {
  .chef-section .img-desktop {
    display: block;
  }
  .chef-section .main_heading {
    font-family: Cellofy !important;
    font-weight: 600 !important;
    margin: 0 0 40px !important;
  }
}
</style>
{%- liquid  
  assign poster = section.settings.video.preview_image | default: section.settings.cover_image

  if section.settings.video != null
    assign ratio_diff = section.settings.video.aspect_ratio | minus: poster.aspect_ratio | abs
    if ratio_diff < 0.01 and ratio_diff > 0
     
    endif
  endif
  if section.settings.video_mobile != null
    assign ratio_diff_mobile = section.settings.video_video_mobile.aspect_ratio | minus: posterMobile.aspect_ratio | abs
    if ratio_diff_mobile < 0.01 and ratio_diff_mobile > 0
     
    endif
  endif
-%}

<div class="chef-section section-padding cookware-ugc-section page-width">
      <div class="banner-group-wrapper">
        <h2 class="main_heading h2">{{ section.settings.main_heading }}</h2>
        <div class="banner-group">     
          {%- liquid                
            assign sizes = '(min-width: 990px) 19.565vw, 100vw'
            assign widths = '375, 550, 750'
          -%} 
          {% for banner in section.blocks %}
            {% if banner.type == 'banner' %}
            <div class="banner">
              {% if banner.settings.banner_heading != blank %}
                <div class="card-content">
                    <a href="{{ banner.settings.banner_link }}" class="">
                  <h4 class="heading h4">{{ banner.settings.banner_heading }}</h4>
                  <p class="desc">{{ banner.settings.banner_description }}</p>
                    </a>
                  <a href="{{ banner.settings.banner_link }}" class="link makro--link">{{ banner.settings.banner_button_text }} {% render 'btn-arrow-right' %}</a>
                </div>
              {% endif %}
               {% if banner.settings.desktop_image != blank %}
                 <a href="{{ banner.settings.banner_link }}" class="">
                    <div class="image-card">
                      {%- liquid
                        assign dek_img = banner.settings.desktop_image
                        assign height = dek_img.width | divided_by: dek_img.aspect_ratio | round
                        assign dek_image = ""
                        if banner.settings.mobile_image != blank 
                          assign dek_image = "desktop-img"
                        endif
                      -%}
                      {{
                        dek_img
                        | image_url: width: 300
                        | image_tag: loading: 'lazy', width: dek_img.width, height: height, sizes: sizes, widths: widths, class: dek_image
                      }}{% comment %}
                      <img src="{{ banner.settings.desktop_image | img_url: 'master' }}" alt="{{ banner.settings.banner_heading }}" class="desktop-img">{% endcomment %}
                       {% if banner.settings.mobile_image != blank %}
                        {%- liquid
                          assign mobi_img = banner.settings.mobile_image
                          assign height = mobi_img.width | divided_by: mobi_img.aspect_ratio | round
                        -%}
                        {{
                          mobi_img
                          | image_url: width: 300
                          | image_tag: loading: 'lazy', width: mobi_img.width, height: height, sizes: sizes, widths: widths, class: 'mobile-img'
                        }}{% comment %}
                        <img src="{{ banner.settings.mobile_image | img_url: 'master' }}" alt="{{ banner.settings.banner_heading }}" class="mobile-img">{% endcomment %}
                       {% endif %}
                    </div>
                 </a>
                {% endif %}
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
     
      <div class="video-group-wrapper title_video_wrapper {{ section.settings.videoLayout }}">
        
            {%- for block in section.blocks -%}
               {% if block.settings.videowise != blank %}
                <style>
                  .video-group-wrapper.title_video_wrapper {
                    display:block;
                    width:50%;
                  
                  }
                  .reeview-app-widget{
                    width:100%;
                  }
                </style>
                {% if block.type == 'videowise' %}
                  {{ block.settings.videowise }}
                {% endif %}
              {% else %}
              {% if block.type == 'video_block' and  block.settings.videowise == blank %}
            <div class="video-group">
               <custom-deferred-media class="video_group">
                  <div class="cover-image">       
                    {%- liquid                
                      assign sizes = '(min-width: 1441px) 16.66667vw, (min-width: 1200px) 23vw, 44.27084vw'
                      assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                    -%} 
                    {%- if block.settings.cover_image != blank -%}            
                      {%- liquid
                        assign height = block.settings.cover_image.width | divided_by: block.settings.cover_image.aspect_ratio | round
                      -%} 
                      {% assign dek_class = '' %}
                      {%- if block.settings.cover_image_mobile != blank -%}
                        {% assign dek_class = 'img-desktop' %}
                      {%- endif -%}
                      {{
                        block.settings.cover_image
                        | image_url: width: 3840
                        | image_tag: loading: 'lazy', width: block.settings.cover_image.width, height: height, sizes: sizes, widths: widths, class: dek_class
                      }}
                    {%- endif -%}
                    {%- if block.settings.cover_image_mobile != blank -%}
                      {{
                        block.settings.cover_image_mobile
                        | image_url: width: 750
                        | image_tag: loading: 'lazy', width: block.settings.cover_image_mobile.width, height: block.settings.cover_image_mobile.height, sizes: sizes, widths: widths, class: 'img-mobile'
                      }}
                    {%- endif -%}
                    {% comment %}
                     {%- if block.settings.cover_image != blank -%}
                     <img src="{{ block.settings.cover_image | image_url: width: 3840 }}" class="img-desktop" alt="{{ block.settings.title }}">
                     {%- endif -%}
                     {%- if block.settings.cover_image_mobile != blank -%}
                     <img src="{{ block.settings.cover_image_mobile | image_url: width: 750 }}" class="img-mobile" alt="{{ block.settings.title }}">
                     {%- endif -%}
                    {% endcomment %}
                     <button type="button" class="play-button video-wrapper__play-button video-wrapper__play-button--ripple">
                        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M40 80C62.0914 80 80 62.0914 80 40C80 17.9086 62.0914 0 40 0C17.9086 0 0 17.9086 0 40C0 62.0914 17.9086 80 40 80ZM34.3529 51.4112L52.7059 40.8151C53.3333 40.4528 53.3333 39.5472 52.7059 39.1849L34.3529 28.5888C33.7255 28.2266 32.9412 28.6794 32.9412 29.4039V50.5961C32.9412 51.3206 33.7255 51.7734 34.3529 51.4112Z" fill="white" fill-opacity="0.6"></path>
                        </svg>
                     </button>
                  </div>
                  <template>
                    {%- if block.settings.video == null -%}
                        {%- liquid
                        assign video_id = block.settings.video.id | default: block.settings.video_url.id
                        assign video_alt = block.settings.video.alt | default: block.settings.description1
                        assign poster = block.settings.video.preview_image | default: block.settings.cover_image
                      -%}
                        {%- liquid
                          assign loop = ''
                          if block.settings.enable_video_looping
                            assign loop = '&loop=1&playlist=' | append: video_id
                          endif
                        -%}
                        
                          {%- if block.settings.video_url.type == 'youtube' -%}
                            <iframe
                              src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}"
                              class="js-youtube"
                              allow="autoplay; encrypted-media"
                              allowfullscreen
                              title="{{ block.settings.description1 | escape }}"
                            ></iframe>
                          {%- else -%}
                            <iframe
                              src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}"
                              class="js-vimeo"
                              allow="autoplay; encrypted-media"
                              allowfullscreen
                              title="{{ block.settings.description1 | escape }}"
                            ></iframe>
                          {%- endif -%}
                    {% else %}
                     {{ block.settings.video | video_tag: autoplay: true, loop: block.settings.enable_video_looping, controls: true }}
                     {%- endif -%}
                  </template>
               </custom-deferred-media>
                <div class="auther-content">
                  {% if block.settings.reviews_image != blank %}
                    <div class="reviews"><img src="{{ block.settings.reviews_image | image_url: width: 128 }}" alt="" width="128" height="24" loading="lazy" /></div>
                  {% endif %}
                  {% if block.settings.auther_message != blank %}
                  <div class="auther-message">
                    <h2 class="heading h2">{{ block.settings.auther_message }}</h2>
                  </div>
           {% endif %}
           {% if block.settings.auther_image != blank %}
          <div class="auther-details">
            <div class="auther-image"><img src="{{ block.settings.auther_image | image_url: width: 100 }}" alt="" width="80" height="80" loading="lazy" /></div>
            <div class="auther-wrapper">
              <div class="auther-name">{{ block.settings.auther_name }}</div>
              <div class="auther-verification">
                <span class="check-icon">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="12" height="12" rx="6" fill="#A6BB3A"/></rect>
                    <path d="M3.375 6.00984L5.11734 7.80469L8.625 4.19531" stroke="#FCFBF7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></path>
                  </svg>
                </span>
                <span>{{ block.settings.auther_verification }}</span>
              </div>
            </div>
          </div>
           {% endif %}
        </div>
            </div>
             {%- endif -%}

                 {%- endif -%}
              {%- endfor -%}
         
   
      </div>
   </div>

  
      
{% schema %}
  {
    "name": "home ugc section",
    "class": "Product-Chef",
    "settings": [
       {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      },
       {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "t:sections.video.settings.enable_video_looping.label",
        "default": false
     },
      {
        "type": "html",
        "id": "main_heading",
        "label": "Main Heading",
        "default": "Transform every home-cooked meal into a gourmet experience with 360 Cookware"
      },
     
      {
        "type": "text",
        "id": "block_descrption",
        "label": "block descrption",
        "default": "Transform every home-cooked meal into a gourmet experience with 360 Cookware"
      },
           {
        "type": "text",
        "id": "block_descrption1",
        "label": "block descrption",
        "default": "Transform every home-cooked meal into a gourmet experience with 360 Cookware"
      },
         
        
       {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Shop Now"
      }
    ],
    "blocks": [
      {
        "type": "video_block",
        "name": "Video Block",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_video_looping",
            "label": "Play video on loop",
            "default": false
          },
          {
            "type": "video",
            "id": "video",
            "label": "Video"
          },
          {
            "type": "video",
            "id": "video_mobile",
            "label": "Mobile video"
          },
          {
            "type": "video_url",
            "id": "video_url",
            "accept": ["youtube", "vimeo"],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
            "label": "URL"
          },
          {
            "type": "image_picker",
            "id": "cover_image",
            "label": "Cover image"
          },
          {
            "type": "image_picker",
            "id": "cover_image_mobile",
            "label": "Cover image for mobile"
          },
          {
          "type": "image_picker",
          "id": "reviews_image",
          "label": "Reviews Image"
        },
        {
          "type": "textarea",
          "id": "auther_message",
          "label": "Author Message",
          "default": "Great cookware, makes the food amazing! Easy to clean! Love it!"
        },
        {
          "type": "image_picker",
          "id": "auther_image",
          "label": "Author Image"
        },
        {
          "type": "text",
          "id": "auther_name",
          "label": "Author Name",
          "default": "Eileen M."
        },
        {
          "type": "text",
          "id": "auther_verification",
          "label": "Author Verification",
          "default": "Verified Buyer"
        }
        ]
      },
      {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "text",
          "id": "banner_heading",
          "label": "Banner Heading",
          "default": "Cook Like a Pro"
        },
        {
          "type": "textarea",
          "id": "banner_description",
          "label": "Banner Description",
          "default": "Premium pots and pans for culinary mastery. Durable, efficient, and designed for perfection."
        },
        {
          "type": "url",
          "id": "banner_link",
          "label": "Banner Link",
          "default": "/"
        },
        {
          "type": "text",
          "id": "banner_button_text",
          "label": "Button Text",
          "default": "Shop Cookware"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        }
      ]
    },
       {
      "type": "videowise",
      "name": "Videowise Block",
      "settings": [
        {
          "type": "liquid",
          "id": "videowise",
          "label": "Videowise widget"
        }
      ]
    },
    ],
    "presets": [
      {
        "name": "home ugc section"
      }
    ]
  }
{% endschema %}