<link rel="stylesheet" href="{{ 'stainless-steel-pan.css' | asset_url }}" media="print" onload="this.media='all'" />
<noscript>{{ 'stainless-steel-pan.css' | asset_url | stylesheet_tag }}</noscript>

<div class="stainless-steel-pan section-padding">
  <div class="image-wrapper">
    {% if section.settings.videowise != blank  %}
      <div class="image"> 
     {{ section.settings.videowise }}
      </div>
    {% else %}
    {% if section.settings.desktop_image != blank  %}
      <div class="image"> 
      {%- liquid                
        assign sizes = '(min-width: 1441px) 50.52083vw, (min-width: 1301px) 63.8889vw, (min-width: 750px) 100vw, 76.9231vw'
        assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
      -%} 
        {%- if section.settings.desktop_image != blank -%}            
          {%- liquid
            assign height = section.settings.desktop_image.width | divided_by: section.settings.desktop_image.aspect_ratio | round
          -%} 
          {% assign dek_class = '' %}
          {%- if section.settings.mobile_image != blank -%}
            {% assign dek_class = 'desktop-img' %}
          {%- endif -%}
          {{
            section.settings.desktop_image
            | image_url: width: 3840
            | image_tag: loading: 'lazy', width: section.settings.desktop_image.width, height: height, sizes: sizes, widths: widths, class: dek_class
          }}
        {%- endif -%}
        {%- if section.settings.mobile_image != blank -%}
          {{
            section.settings.mobile_image
            | image_url: width: 750
            | image_tag: loading: 'lazy', width: section.settings.mobile_image.width, height: section.settings.mobile_image.height, sizes: sizes, widths: widths, class: 'mobile-img'
          }}
        {%- endif -%}{% comment %}
        <img src="{{ section.settings.desktop_image | img_url: 'master' }}" alt="{{ section.settings.image_alt_text }}" class="desktop-img">
        <img src="{{ section.settings.mobile_image | img_url: 'master' }}" alt="{{ section.settings.image_alt_text }}" class="mobile-img">{% endcomment %}
      </div>
    {% endif %}
    {% endif %}
     {% if section.settings.subtitle_text != blank  %}
    <div class="subtitle">{{ section.settings.subtitle_text }}</div>
    {% endif %}
    <div class="pan_review review1">
      <div class="reviews">
        {% if section.settings.review_image != blank %}
          <div class="reviews"><img src="{{ section.settings.review_image | image_url: width: 128 }}" alt="" width="128" height="24" loading="lazy" /></div>
        {% endif %}
      </div>
      <div class="auther-message"> <h2 class="heading h2">{{ section.settings.review_message }}</h2> </div>
      <div class="auther-details"> 
        <div class="auther-image">
          {% if section.settings.author_image != blank %}
            <div class="auther-image">
              <img src="{{ section.settings.author_image | image_url: width: 100 }}" alt="" width="80" height="80" loading="lazy" />              
            </div>
          {% endif %}
        </div> 
         {% if section.settings.author_name != blank %}
          <div class="auther-wrapper"> 
            <div class="auther-name">{{ section.settings.author_name }}</div>
            <div class="auther-verification">  
              <span class="check-icon">  
             <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
              <rect width="12" height="12" rx="6" fill="#5F0001"/>
              <path d="M3.375 6.00984L5.11734 7.80469L8.625 4.19531" stroke="#FCFCFA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
               </svg>  
              </span>  
             <span>{{ section.settings.verification_text }}</span>
            </div> 
          </div> 
          {% endif %}
      </div>
    </div>
    <div class="pan_review review2">
     {% if section.settings.custom_heading_text != blank %}
      <div class="auther-message"> <h2 class="heading h2">{{ section.settings.custom_heading_text }}</h2> </div>
      {% endif %}
      <div class="auther-details"> 
        {% if section.settings.author_image_2 != blank %}
        <div class="author-image">
          <img src="{{ section.settings.author_image_2 | image_url: width: 100 }}" alt="" width="80" height="80" loading="lazy" />
        </div>
       {% endif %}
       {% if section.settings.author_name_2 != blank %}
        <div class="auther-wrapper"> 
          <div class="author-name">{{ section.settings.author_name_2 }}</div>
            <div class="auther-verification">  
              <span class="check-icon">  
               <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
              <rect width="12" height="12" rx="6" fill="#5F0001"/>
               <path d="M3.375 6.00984L5.11734 7.80469L8.625 4.19531" stroke="#FCFCFA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>  
              <span>{{ section.settings.verification_text_2 }}</span>
            </div> 
        </div> 
        {% endif %}         
      </div>
    </div>
   {% if section.settings.testimonial_text != blank %}
    <div class="pan_review review3">
      <div class="auther-message"> <h2 class="heading h2">{{ section.settings.testimonial_text }}</h2> </div>
      <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="162" height="40" viewBox="0 0 162 40" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0.645225 0.261222C0.689454 0.40482 0.959759 1.53001 1.2459 2.76149C1.53205 3.99297 2.14244 6.57908 2.60251 8.50837C3.06258 10.4377 3.63427 12.8559 3.8729 13.8821C4.30473 15.7392 4.62673 17.1036 6.10992 23.3607C6.53813 25.1669 7.42002 28.8949 8.06986 31.6452C8.71958 34.3955 9.399 37.2669 9.57947 38.0264L9.90777 39.4072L15.8926 39.4024C22.1604 39.3975 22.1577 39.3978 22.5118 38.7332C22.6 38.5679 23.1539 36.4184 23.7426 33.9566C24.8307 29.4081 25.5644 26.3477 26.2111 23.6592C26.4086 22.8382 26.8125 21.159 27.1088 19.9275C27.405 18.696 27.8396 16.5577 28.0747 15.1757C28.4914 12.7255 28.6761 12.0357 28.6761 12.9296C28.6761 14.0292 29.2753 16.8149 32.4129 30.3017C33.2436 33.873 34.06 37.3828 34.2269 38.1011L34.5303 39.4072H46.4407L46.8202 39.0713C47.1621 38.7689 47.6761 36.8235 51.9837 19.5324C54.6148 8.97079 56.7673 0.255251 56.7673 0.164645C56.7673 0.0474679 55.1359 0 51.1128 0C45.7456 0 45.4444 0.0144792 45.2008 0.283762C44.9267 0.586479 44.7959 1.07579 44.0833 4.47808C43.8338 5.6685 43.122 8.9935 42.5014 11.867C41.881 14.7404 41.1333 18.4684 40.8398 20.1512C40.5464 21.8343 40.2816 23.2359 40.2513 23.2662C40.178 23.3394 40.1314 23.1125 39.5037 19.629C39.2079 17.987 38.6329 15.0986 38.2261 13.2104C37.0158 7.59112 36.3185 4.38017 35.8194 2.12709L35.3483 0H23.3038L23.0553 0.378847C22.9186 0.587375 22.7221 1.10788 22.6185 1.53569C22.3244 2.75134 21.2256 7.32166 20.6731 9.62791C20.3977 10.7773 19.8606 12.9939 19.4796 14.5538C19.0986 16.1137 18.5011 18.7669 18.1516 20.45C17.5258 23.4628 17.5144 23.4973 17.4082 22.689C17.0558 20.0056 16.3495 16.1282 14.8393 8.58675C13.9026 3.90907 13.1362 0.0635887 13.1362 0.0410492C13.1362 0.0185095 10.3076 0 6.85043 0C0.932863 0 0.569319 0.0153748 0.645225 0.261222ZM108.689 0.356307C108.48 0.67485 108.461 2.29219 108.507 15.6191C108.564 31.8065 108.53 31.1029 109.396 33.6603C110.282 36.2769 112.126 38.0959 114.699 38.893C117.15 39.6522 122.147 39.775 125.987 39.1706L126.548 39.0824V31.1626L125.577 31.2663C121.965 31.653 120.539 31.102 119.878 29.0632C119.67 28.4223 119.615 27.4585 119.561 23.5473L119.497 18.808H122.612C124.326 18.808 125.954 18.7433 126.229 18.6644C127.139 18.4037 127.136 18.4232 127.141 13.5462L127.146 9.10546H119.525V0H108.923L108.689 0.356307ZM128.738 0.273014C128.51 0.524087 128.49 2.1056 128.49 19.9766V39.4072H133.629C138.465 39.4072 138.788 39.3903 139.12 39.122L139.473 38.8367L139.553 29.3821C139.642 18.8111 139.631 18.9234 140.686 17.87C141.402 17.1544 142.03 16.9609 143.657 16.9548C145.298 16.9488 145.944 17.1569 146.627 17.9117C147.681 19.0771 147.669 18.9526 147.73 29.742L147.785 39.4072H152.91C157.904 39.4072 158.046 39.3991 158.438 39.0912L158.84 38.7752L158.785 28.605C158.726 17.5514 158.704 17.2407 157.83 14.6284C156.739 11.367 154.751 9.48804 151.572 8.71346C150.095 8.35341 146.124 8.34762 144.777 8.70346C143.204 9.11916 142.025 9.79629 141.037 10.851C140.549 11.3721 140.031 12.0153 139.886 12.2804C139.63 12.7482 139.621 12.5733 139.583 6.38129L139.544 0H134.265C129.339 0 128.968 0.0183602 128.738 0.273014ZM158.208 8.49075C157.734 8.96454 157.628 9.17562 157.628 9.64758C157.629 10.6965 158.515 11.643 159.495 11.643C160.476 11.643 161.361 10.6965 161.363 9.64758C161.363 9.17562 161.257 8.96454 160.783 8.49075C160.273 7.98087 160.118 7.91129 159.495 7.91129C158.873 7.91129 158.718 7.98087 158.208 8.49075ZM160.325 8.36358C160.484 8.44808 160.714 8.71346 160.839 8.95321C161.191 9.63312 161.122 10.2305 160.628 10.7823C160.254 11.2009 160.093 11.2699 159.495 11.2699C158.897 11.2699 158.737 11.2009 158.362 10.7823C158.084 10.4708 157.926 10.1315 157.926 9.84208C157.926 9.301 158.273 8.58225 158.636 8.37104C158.978 8.17237 159.96 8.16804 160.325 8.36358ZM66.3305 8.51733C63.4286 8.83766 60.2652 9.99391 58.4288 11.4054C55.2329 13.8621 53.5369 17.4455 53.2007 22.4506C52.7751 28.7849 54.4932 33.8365 58.0552 36.7232C59.6963 38.0535 61.3028 38.8179 64.0297 39.566C65.6966 40.0234 70.8122 40.1531 72.8993 39.791C79.3178 38.6771 82.9277 35.1022 84.2152 28.5852C84.6175 26.5494 84.5804 21.5284 84.1477 19.4454C83.2222 14.9901 80.9926 11.8744 77.4627 10.1036C76.2681 9.50446 74.3263 8.89079 72.9052 8.66333C71.4903 8.43704 67.8004 8.35491 66.3305 8.51733ZM103.053 8.80171C100.502 9.26712 98.6394 10.6467 97.3732 13.008L96.9621 13.7742V9.10546H91.7491C86.8388 9.10546 86.5151 9.12204 86.1828 9.39071L85.83 9.67612L85.7513 39.4072H90.824C93.6142 39.4072 96.06 39.3451 96.2599 39.2694C96.459 39.1936 96.6806 39.0088 96.7518 38.8589C96.8226 38.7089 96.9213 35.5971 96.9705 31.9437C97.055 25.6881 97.0796 25.2327 97.3916 24.1257C98.0167 21.908 98.981 20.5487 100.5 19.743C101.54 19.1913 102.504 18.9986 104.896 18.8637C106.476 18.7744 106.716 18.7254 106.906 18.4535C107.084 18.1999 107.123 17.3237 107.123 13.5677V8.99096L106.786 8.89767C106.186 8.73108 103.78 8.66912 103.053 8.80171ZM158.735 8.862C158.59 9.23933 158.742 10.6474 158.935 10.7108C159.051 10.749 159.122 10.6302 159.122 10.3955C159.122 10.1882 159.183 9.98091 159.258 9.93479C159.5 9.78537 159.869 10.0248 159.961 10.3907C160.011 10.587 160.111 10.7474 160.184 10.7474C160.373 10.7474 160.35 10.0935 160.155 9.89854C160.038 9.78162 160.038 9.70821 160.155 9.63596C160.417 9.47383 160.341 8.97946 160.028 8.81212C159.614 8.59108 158.827 8.62137 158.735 8.862ZM159.859 9.09633C160.037 9.20875 160.04 9.27216 159.878 9.46729C159.564 9.846 159.122 9.76537 159.122 9.32937C159.122 8.93587 159.444 8.83408 159.859 9.09633ZM70.9792 16.6494C72.916 17.3322 73.5695 19.2504 73.5695 24.2563C73.5695 30.426 72.5761 32.1776 69.0949 32.1491C66.0264 32.1239 65.0227 30.8228 64.6765 26.4219C64.4953 24.1154 64.6715 20.8187 65.0506 19.4198C65.4067 18.1085 65.989 17.301 66.9182 16.8302C67.6179 16.476 67.907 16.4197 69.0283 16.4197C69.8155 16.4197 70.5839 16.5101 70.9792 16.6494Z" fill="#5F0001"/>
</svg>
      </span>
    </div>
    {% endif %}   
  
    <div class="pan_review review4">
        {% if section.settings.reviews_number != blank %}
       <h2 class="heading h2">{{ section.settings.reviews_number }}</h2>
        {% endif %}
      {% if section.settings.reviews_heading != blank %}
       <h3 class="heading h3">{{ section.settings.reviews_heading }}</h3>
        {% endif %}
    </div>

  </div>
  <div class="about-wrapper">
    {% if section.settings.main_heading_text != blank %}
   <h2 class="main_heading h2">{{ section.settings.main_heading_text }}</h2>
    {% endif %}
    {% if section.settings.paragraph_description != blank %}
    <div class="content-icon-wrapper">
      <span class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
<rect width="40" height="40" rx="20" fill="#FCFCFA"/>
<g clip-path="url(#clip0_1_10906)">
<path d="M21.6699 16.2431L23.4941 14.4181C23.2783 14.2023 23.119 13.9367 23.0304 13.6447C22.9417 13.3527 22.9265 13.0433 22.986 12.744C23.0454 12.4447 23.1778 12.1647 23.3713 11.9287C23.5649 11.6928 23.8136 11.5083 24.0955 11.3914C24.3774 11.2746 24.6838 11.2291 24.9875 11.2589C25.2912 11.2887 25.5828 11.393 25.8366 11.5625C26.0904 11.732 26.2985 11.9614 26.4424 12.2305C26.5863 12.4996 26.6616 12.8 26.6617 13.1052C26.967 13.1049 27.2676 13.18 27.5368 13.3237C27.8061 13.4675 28.0358 13.6754 28.2055 13.9291C28.3752 14.1828 28.4797 14.4745 28.5097 14.7782C28.5398 15.082 28.4944 15.3885 28.3777 15.6705C28.261 15.9525 28.0765 16.2014 27.8405 16.3951C27.6046 16.5888 27.3246 16.7213 27.0252 16.7808C26.7258 16.8404 26.4164 16.8252 26.1243 16.7366C25.8322 16.648 25.5665 16.4887 25.3507 16.2728L23.662 17.9624M11.8868 19.1593C12.9723 18.0728 15.9108 19.2475 18.4466 21.7842C20.9833 24.32 22.158 27.2576 21.0706 28.345C19.985 29.4315 17.0465 28.2568 14.5107 25.7201C11.974 23.1843 10.7993 20.2468 11.8868 19.1593ZM11.8868 19.1593C15.51 15.5361 20.5036 14.6547 23.0394 17.1914C25.5762 19.7272 24.6947 24.7208 21.0715 28.345M15.9915 23.3114L16.9194 24.2393" stroke="#7E0002" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_1_10906">
<rect width="20" height="20" fill="white" transform="translate(10 10)"/>
</clipPath>
</defs>
</svg>
      </span>
       <p class="desc">{{ section.settings.paragraph_description }}</p>
    </div>
     {% endif %}
       {% if section.settings.paragraph_description_2 != blank %}    
        <div class="content-icon-wrapper">
          <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
<rect width="40" height="40" rx="20" fill="#FCFCFA"/>
<path d="M14.9056 24.3481L25.2342 24.3403M19.9997 12.1875C21.673 12.1875 23.0706 13.3594 23.4108 14.9227C24.3043 14.6822 25.2572 14.8046 26.06 15.2631C26.8627 15.7216 27.4495 16.4786 27.6913 17.3676C27.9331 18.2566 27.8101 19.2048 27.3493 20.0035C26.8884 20.8023 26.1276 21.3862 25.2342 21.6267V27.8125H14.7652V21.6267C14.3228 21.5075 13.9083 21.3027 13.5455 21.0241C13.1826 20.7455 12.8784 20.3985 12.6503 20.0029C12.4223 19.6073 12.2747 19.1709 12.2161 18.7186C12.1575 18.2663 12.1891 17.8069 12.3089 17.3668C12.4287 16.9266 12.6345 16.5142 12.9146 16.1531C13.1946 15.7921 13.5433 15.4894 13.9409 15.2625C14.3384 15.0355 14.777 14.8887 15.2316 14.8304C15.6862 14.7721 16.1479 14.8035 16.5903 14.9227C16.7594 14.1481 17.1898 13.4543 17.81 12.9567C18.4303 12.4591 19.2029 12.1877 19.9997 12.1875Z" stroke="#7E0002" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
          </span>
         <p class="desc">{{ section.settings.paragraph_description_2 }}</p>
        </div>
      {% endif %}
    {% if section.settings.button_url != blank %}
    <a href="{{ section.settings.button_url }}" class="button cta_button small-hide">{{ section.settings.button_text }}</a>
   {% endif %}
  </div>
 {% if section.settings.button_url != blank %}
  <div class="button-block-mob large-up-hide medium-hide">
    <a href="{{ section.settings.button_url }}" class="button cta_button">{{ section.settings.button_text }}</a>
  </div>
 {% endif %}
</div>
{% schema %}
  {
    "name": "Stainless Steel Pan",
    "settings": [
       {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "liquid",
      "id": "videowise",
      "label": "Videowise widget"
    },
    {
      "type": "text",
      "id": "image_alt_text",
      "label": "Image Alt Text"
    },
    {
      "type": "text",
      "id": "subtitle_text",
      "label": "Subtitle Text"
    },
    {
      "type": "image_picker",
      "id": "review_image",
      "label": "Review Image"
    },
    {
      "type": "text",
      "id": "review_message",
      "label": "Review Message"
    },
    {
      "type": "image_picker",
      "id": "author_image",
      "label": "Author Image"
    },
    {
      "type": "text",
      "id": "author_name",
      "label": "Author Name"
    },
    {
      "type": "text",
      "id": "verification_text",
      "label": "Verification Text"
    },
    {
      "type": "text",
      "id": "custom_heading_text",
      "label": "Custom Heading Text",
      "default": "Fabulous company that stands behind its products. We have purchased a couple of pans and will be getting more!"
    },
    {
      "type": "image_picker",
      "id": "author_image_2",
      "label": "Author Image 2"
    },
    {
      "type": "text",
      "id": "author_name_2",
      "label": "Author Name 2",
      "default": "Eileen M."
    },
    {
      "type": "text",
      "id": "verification_text_2",
      "label": "Verification Text 2",
       "default": "Professional Chef"
    },
    {
      "type": "text",
      "id": "testimonial_text",
      "label": "Testimonial Text",
      "default": "“Easy to clean. Faster cooking. Tremendous American quality!”"
    },
    {
      "type": "text",
      "id": "reviews_number",
      "label": "Number of Reviews",
      "default": "7,000+"
    },
    {
      "type": "text",
      "id": "reviews_heading",
      "label": "Reviews Heading",
      "default": "5-Star Reviews"
    },
    {
      "type": "html",
      "id": "main_heading_text",
      "label": "Main Heading Text",
      "default": "Meet Best in Class Stainless Steel Pan"
    },
    {
      "type": "textarea",
      "id": "paragraph_description",
      "label": "Paragraph Description",
      "default": "Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per aliquet odio conubia nostra."
    },
    {
      "type": "textarea",
      "id": "paragraph_description_2",
      "label": "Paragraph Description",
      "default": "Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  
    ],
    "presets": [
      {
        "name": "Stainless Steel Pan"
      }
    ]
  }
{% endschema %}