<style>
    /* body {
        line-height: 1.6;
        margin: 0;
        background-color: #fcfbf7;
    }
    @font-face {
        font-family: Cellofy-Regular;
        src: url(https://cdn.shopify.com/s/files/1/0628/6960/2510/files/Cellofy-Regular.woff?v=1722476825) format('woff');
    }

    @font-face {
        font-family: ProximaNova-Regular;
        src: url(https://cdn.shopify.com/s/files/1/0628/6960/2510/files/ProximaNova-Regular.woff?v=1722476969) format('woff');
    }

 */
    .use-care-container {
        background: #fcfbf7;
          width: 51%;
          margin: 0px auto;
          padding: 60px 38px;
    }
    .template-page .section-para a:hover{
      color:#c3d957;
    }
    .use-care-container .heading-font {
        font-family: Cellofy;
    font-size: 60px;
    font-weight: normal;
    }

    .use-care-container h1 {
       font-family: Cellofy;
          font-size: 60px;
          text-align: left;
          margin-bottom: 40px;
          margin-top: 0;
          font-weight: normal;
    }

    .use-care-container h2 {
         font-size:24px;
            color: #000000;
            padding-bottom: 10px;
            margin-bottom: 10px;
            padding-top: 10px;
            font-family: Cellofy;
    }

    .use-care-container h3 {
        font-family: Cellofy;
        color: #0D0D0D;
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .use-care-container p {
       font-size:16px;
           color: #000000;
            font-family: "Proxima Nova";
            margin-bottom: 20px;
    }

    .use-care-container .main-content {
        margin-bottom: 40px;
    }
  .use-care-container ul li  , .use-care-container ol li {
     font-family: "Proxima Nova";
    font-size:16px;
  }


    .tip-box {
        background-color: #fdf9f3;
        border-left: 2px solid #606D22;
        padding: 16px;
        border-radius: 0px 8px 8px 0px;
        font-family: Arial, sans-serif;
        color: #0D0D0D;
        line-height: 1.5;
    }

    .image-boreder-left img {
        width: 100%;
        height: auto;
    }
.image-boreder-left{
  margin:16px 0px;
}



    /* table row content */
    /* table1 */
    .table-container-1 {
        border-radius: 8px;
        width: 100%;
    }

    .table-container-1 table {
        border: 1px solid #e2e1de;
        width: 100%;
        border-collapse: collapse;
    }

    .table-container-1 thead {
        background-color: #f8f8f8;
    }

    .table-container-1 th,
    td {
        text-align: left;
        border-right: 1px solid #e2e1de;
        /* Add right border to each cell */
        padding: 8px 12px;
        border-bottom: 1px solid #e2e1de;
    }

    .table-container-1 th {
        background-color: #FAF5EB;
        font-weight: bold;
    }

    /* table2 */
    .table-container-2 {
        border-radius: 8px;
        width: 100%;
    }

    .table-container-2 table {
        border: 1px solid #e2e1de;
        width: 100%;
        border-collapse: collapse;
    }

    .table-container-2 thead {
        background-color: #f8f8f8;
    }

    .table-container-2 th,
    td {
        text-align: left;
        border-right: 1px solid #e2e1de;
        padding: 8px 12px;
        border-bottom: 1px solid #e2e1de;
    }

    .table-container-2 td:nth-child(1) {
        width: 54%;
    }

    .table-container-2 th {
        background-color: #FAF5EB;
        font-weight: bold;
    }


    /* table3 */
    .table-container-3 {
        border-radius: 8px;
        width: 100%;
    }

    .table-container-3 table {
        border: 1px solid #e2e1de;
        width: 100%;
        border-collapse: collapse;
    }

    .table-container-3 thead {
        background-color: #f8f8f8;
    }

    .table-container-3 th,
    td {
        text-align: left;
        border-right: 1px solid #e2e1de;
        padding: 8px 12px;
        border-bottom: 1px solid #e2e1de;
    }

    .table-container-3 td:nth-child(1) {
        width: 75%;
    }

    .table-container-3 th {
        background-color: #FAF5EB;
        font-weight: bold;
    }

    /* tablw4 */
    .table-container-4 {
        border-radius: 8px;
        width: 100%;
    }

    .table-container-4 table {
        border: 1px solid #e2e1de;
        width: 100%;
        border-collapse: collapse;
    }

    .table-container-4 thead {
        background-color: #f8f8f8;
    }

    .table-container-4 th,
    td {
        text-align: left;
        border-right: 1px solid #e2e1de;
        /* Add right border to each cell */
        padding: 8px 12px;
        border-bottom: 1px solid #e2e1de;
    }

    .table-container-4 th {
        background-color: #FAF5EB;
        font-weight: bold;
    }
  .Troubleshooting-heading-border-bottom {
    border-top: 1px solid #e3e2de;
      border-bottom: 1px solid #e3e2de;
}
    @media only screen and (max-width: 767px) {
        .use-care-container {
           background:#fcfbf7;
                width:100%;
                margin: 60px auto; 
                padding: 0px 29px;      
        }
      .use-care-container th {
        font-size:12px;
      }
         .use-care-container td {
        font-size:12px;
      }
    }
</style>

<section class="use-care-container">
  <h1 class="main-heading heading-font">{{ section.settings.title }}</h1>
    {%- for block in section.blocks -%}
      <div class="section-main-content">
        
        {% if block.settings.title != blank %}
          <h2  class="section-heading">{{ block.settings.title }}</h2>
         {% endif %}
        
         {% if block.settings.details != blank %}
           {{ block.settings.details }}
         {% endif %}
        
          {% if  block.settings.image %}
            <div class="image-boreder-left">
            <img src="{{ block.settings.image | img_url:'' }}" alt="{{ block.settings.title }}">
            </div>
          {% endif %}
        
          {% if block.settings.tips != blank %}
             <div class="tip-box">
              {{ block.settings.tips }}
            </div>
          {% endif %}
        
          {% if block.settings.html != blank %}
             <div class="html-data">
              {{ block.settings.html }}
            </div>
          {% endif %}
        
      </div>
    {% endfor %}
</section>

{% schema %}
{
"name": "Use & Care Guide",
  "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
         
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "details",
          "label": "Details"
        },
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
          {
          "type": "textarea",
          "id": "tips",
          "label": "Tips after Image"
        },
        {
          "type": "html",
          "id": "html",
          "label": "Html"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name":"Use & Care Guide"
    }
  ]
}
{% endschema %}